# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Streamlit
.streamlit/

# Local cache stock data (downloaded from Yahoo Finance)
LSE_DLY_*.csv
